
// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 747px) {
    @content;
  }
}

.metamask {
    background-image: url('../public/icons/metamask.svg');
    display: block;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    cursor: pointer;
}

.walletconnect {
    background-image: url('../public/icons/walletconnect.svg');
    display: block;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    cursor: pointer;
}

.coinbase {
    background-image: url('../public/icons/coinbase.svg');
    display: block;
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    cursor: pointer;
}

.none {
    display: none !important;
}

.top_to_btm{
  position: relative;
}

.icon_position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}

.icon_style{
  background-color: #262936;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}

.icon_style:hover{
  animation: none;
  background: #fff;
  color: #262936;
  border: 2px solid #262936;
}

@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
